
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_LayoutNguoidung.cshtml";
}
<h4 style="color:red; text-align:center"> @ViewBag.Thongbao</h4>
<table align="center" style="width: 400px">
    <h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td align="right"> Họ tên khách hàng:</td>
            <td>
                @Html.TextBox("HotenKH")
                @ViewData["Loi1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right"> Tên đăng nhập:</td>
            <td>
                @Html.TextBox("TenDN")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td align="right">  Mật khẩu:</td>
            <td>
                @Html.Password("Matkhau")
                @ViewData["Loi3"]
            </td>
        </tr>
            <tr style="height:40px">
                <td align="right">Mật khẩu nhậtr lại: </td>
                <td>
                    @Html.Password("Matkhaunhatrlai")
                    @ViewData["Loi4"]
                </td>
            </tr>


            <tr style="height:40px">
                <td align="right"> Email:</td>
                <td>
                    @Html.TextBox("Email")
                    @ViewData["Loi5"]
                </td>
            </tr>
            <tr style="height:40px">
                <td align="right"> Địa chỉ:</td>
                <td>
                    @Html.TextBox("Diachi")
                    @ViewData["Loi7"]
                </td>
            </tr>
            <tr style="height:40px">
                <td align="right">Điện thoại:</td>
                <td>
                    @Html.TextBox("Dienthoai")
                    @ViewData["Loi6"]
                </td>
            </tr>
            
            <tr style="height:40px">
                <td></td>
                <td>
                    <button class="submit-btn-1 mt-30 btn-hover-1" type="Submit">Đăng ký</button>
                </td>
            </tr>
    }
</table>

