@model IEnumerable<CVMSanpham.Models.QuangCao>

@{
    ViewBag.Title = "quangcao";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>quangcao</h2>

<p>
    <div class="tooltip-top">
        <h1><a href="@Url.Action("ThemmoiQuangcao", "Admin")"><i class="fas fa-audio-description"></i></a> </h1>

    </div>
</p>
<table class="table">
    <tr>
        <th>
            Tên quảng cáo
        </th>
        <th>
            Tên Công Ty QC
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
           Link URL
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vitri)
        </th>
        <th>
            Ngày bắt đầu
        <th>
            Ngày hết hạn
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnHien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenQC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenCty)
        </td>
        <td>
            <img src="@Url.Content("~/img/"+ item.AnhQC)" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vitri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaybatdau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngayhethan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnHien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaQC }) 
          
            @Html.ActionLink("Delete", "Delete", new { id=item.MaQC })
        </td>
    </tr>
}

</table>
