@model CVMSanpham.Models.Hang

@{
    ViewBag.Title = "Xoahang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÓA HÃNG SX</h2>

<h3>Hãy chắc rằng bạn muốn xóa nhà sạn xuất này!</h3>
<div>
    <h4>Hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhHang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
