
@using CVMSanpham.Models
@model List<Giohang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutDC.cshtml";
}

          

               
                    <div class="tab-pane active" id="shopping-cart">
                        <div class="shopping-cart-content">
                            <form action="#">
                                
                                <div class="table-content table-responsive mb-50">
                                    <table class="text-center">
                                        <thead>
                                        <tr>
                                            <th class="product-thumbnail">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Thành tiền</th>
                                            <th class="product-remove">Hủy</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <!-- tr -->
                                        <tr>
                                            <td class="product-thumbnail">
                                                <div class="pro-thumbnail-img">
                                                    <img src="~/sanpham/@item.sAnhbia" alt="">
                                                </div>
                                                <div class="pro-thumbnail-info text-left">
                                                    <h6 class="product-title-2">
                                                        <p></p>
                                                        <a href="#">@item.sTenSP</a>
                                                    </h6>


                                                </div>
                                            </td>
                                            <td class="product-price">@item.dGiaHienTai VNĐ</td>
                                            <td class="product-quantity">

                                                <input type="text" value="@item.iSoluong">

                                            </td>
                                            <td class="product-subtotal">@item.dThanhtien VNĐ</td>
                                            <td class="product-remove">
                                               
                                                <a href="@Url.Action("XoaGiohang", "GioHang",new { @iMaSp= item.iMaSP })"><span class="cart-icon"></span></a>
                                            </td>
                                        </tr>

                                        }
                                        </tbody>
                                    </table>
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="coupon-discount box-shadow p-30 mb-50">
                                           
                                            <input type="text" name="name" placeholder="Enter your code here.">
                                            <button class="submit-btn-1 black-bg btn-hover-2" type="submit">Nhập mã</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="payment-details box-shadow p-30 mb-50">
                                            <h6 class="widget-title border-left mb-20">Chi tiết hóa đơn</h6>
                                            <table>
                                                <tr>
                                                    <td class="td-title-1">Tổng tiền</td>
                                                    <td class="td-title-2">@ViewBag.Tongtien VNĐ</td>
                                                </tr>
                                                <tr>
                                                    <td class="td-title-1">Shipping </td>
                                                    <td class="td-title-2">Free</td>
                                                </tr>
                                                <tr>
                                                    <td class="td-title-1">Vat</td>
                                                    <td class="td-title-2">0đ</td>
                                                </tr>
                                                <tr>
                                                    <td class="order-total">Tổng cộng</td>
                                                    <td class="order-total-price">@ViewBag.Tongtien VNĐ</td>
                                                </tr>

                                               
                                            </table>
                                            <tr>
                                                <button class="submit-btn-1 black-bg btn-hover-2" type="submit">@Html.ActionLink("ĐẶT HÀNG", "DatHang", "GioHang")</button>

                                            </tr>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                
            
